@{
    ViewData["Title"] = "Team";
    ViewData["Keywords"] = "Team";
}


<!-- team_area_start -->
<div class="team_area pt-120 pb-120">
    <div class="container text-center">
        <h3>Meet Our Team</h3>
        <p>Our team is passionate about what we do.</p>
        <div class="row">
            <!-- Team Member 1 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="team_member">
                    <h4>John Doe</h4>
                    <p>CEO</p>
                </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="team_member">
                    <h4>Jane Smith</h4>
                    <p>Lead Developer</p>
                </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="team_member">
                    <h4>Michael Johnson</h4>
                    <p>Marketing Head</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team_area_end -->
